:root {
	--personcolor: rgb(56, 180, 252);	/*	The person's color	*/
	--namecolor: rgb(12, 130, 199);	/*	name color*/
}

@font-face {
	font-family: 'Morohashi';
    font-style: normal;
    font-weight: normal;
    src: local('Morohashi'), url('font/morohashi.woff') format('woff');
}

body {
  background-color: rgb(47, 50, 54);
}

h3{
	display: inline;
	font-size: 7px;
}

h1 {
  font-family: 'Morohashi';
  font-size: 22px;
  letter-spacing: 5px;
  text-align: center;
  color: var(--namecolor);
  text-decoration: underline;
  display: block;

}

table{
	/*border: 1px solid black; /*Delete this later*/
	font-family: 'Morohashi';
	
	letter-spacing: 2px;
	overflow-x:auto;
}

.profile{
	border: 1px solid black;
	display:flex;
	margin-right: 50%;
	margin-right: 50%;
	border-radius: 5px;
    -moz-border-radius: 5px;
	
	/*	Glowing Border	*/
	outline: none;
    border-color: var(--personcolor);		/*	Matching Colours	*/
    box-shadow: 0 0 10px var(--personcolor);	/*	Matching Colours	*/
}

th, td {
  color:var(--namecolor);
  padding: 15px;
  text-align: left;
}

table.description{
	margin-right:50%;
}

.talent{
	padding: 10px;
	text-align: center;
	text-decoration: underline;
	color: var(--personcolor);
}

th.alive{
	text-align: left;
	color:green;
}
th.dead{
	text-align: left;
	color:red;
}

th:hover {
	background-color: var(--personcolor);
	}
	
:hover {
	background-color: #f5f5f5;
	}

.studentslist{
	
}

.subtitle{
	text-decoration: underline;
	font-size: 17px;
	color: var(--namecolor);
}

.list{
	padding:23px;
	color: var(--personcolor);
}

.menuoption:hover{
	background-color: #f5f5f5;
}

/* unvisited link */
a.menulist:link {
  color: var(--namecolor);;
  text-decoration: none;
  font-size: 15px;
}

/* visited link */
a.menulist:visited {
  color: var(--namecolor);;
  text-decoration: none;
  font-size: 15px;
}

/* mouse over link */
a.menulist:hover {
  color: var(--namecolor);;
  text-decoration: none;
  font-size: 15px;
}

/* selected link */
a.menulist:active {
  color: var(--namecolor);;
  text-decoration: none;
  font-size: 15px;
}

.menulist:hover{
	background-color: #f5f5f5;
}

.list:hover{
	background-color: #f5f5f5;
}

th.talent:hover{background-color:  #ffffff00;}
th.alive:hover{background-color: rgb(9, 214, 19);}
th.dead:hover{background-color: rgb(179, 54, 0);}

img.student{
	/*	Glowing Border	*/
	outline: none;
    border-color: var(--personcolor);		/*	Matching Colours	*/
    box-shadow: 0 0 5px var(--personcolor);
}

.deathdetails{
	padding: 15px;
	display: none;
	text-align: center;
}

.emptycaption{
	visibility:hidden;
}

th.dead:hover + .deathdetails{
	font-size: 10px;
	display: inline;
	display: inline-block;
}

.deathdetails:hover{
	font-size: 10px;
	background-color: red;
	display: inline-block;
}


/* unvisited link */
a:link {
  color: var(--personcolor);
  text-decoration: none;
  font-size: 13px;
}

/* visited link */
a:visited {
  color: var(--personcolor);
  text-decoration: none;
  font-size: 13px;
}

/* mouse over link */
a:hover {
  color: var(--personcolor);
  text-decoration: none;
  font-size: 13px;
}

/* selected link */
a:active {
  ccolor: var(--personcolor);
  text-decoration: none;
  font-size: 13px;
}


span.underline{
	text-decoration: underline;
	font-size: 12px;
}

.unknown{
	color: rgb(255, 174, 0);
}

th.unknown:hover{background-color: rgb(163, 113, 5);}